/** Profile Name and Status Section **/
.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.profileInfoName {
    font-size: 24px;
}

.profileInfoStatus {
    font-weight: 300;
}