.chatMenu {
    flex: 3.5;
}

.chatMenuWrapper {
    height: 100%;
    padding: 10px;
    background-color: mediumturquoise;
}

.chatMenuInput {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid grey;
}