/** Menu Section **/
.sidebarMenu {
    padding: 0;
    margin: 0;
    list-style: none;
    color: black;
}

.sidebarMenuItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: black;
}

.sidebarMenuIcon {
    margin-right: 15px;
    color: black;
}

.sidebarMenuButton {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.sidebarMenuHr {
    margin: 20px 0;
}