.navbarNotifications {
    display: flex;
}


.navbarNotification {
    position: relative;
    margin-right: 15px;
    display: inline-block;
}

.navbarIcon {
    cursor: pointer;
}

.notificationLinks {
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
    background-color: black;
}

.notificationLink {
    color: white;
    min-width: 300px;
    height: 35px;
    border: 1px white solid;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}

.navbarNotification:hover .notificationLinks {
    display: flex;
    flex-direction: column;
}


.navbarNotificationBadge {
    display: flex;
    align-items: center;
    height: 15px;
    width: 15px;
    font-size: 12px;
    border-radius: 50%;
    /** COLORS NEED TO BE CHANGED **/
    background-color: slateblue;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
}