.postComment {
    margin-bottom: 15px;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: column;
}

.commentSender {
    display: flex;
    align-items: center;
}

.commentText {
    margin-left: 30px;
    margin-top: 10px;
}