/** Favourite Friends Section **/
.sidebarFriends {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidebarFriendProfilePic {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}