.userInfoWrapper {
    margin-top: 10px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.friendsBarUserInfoTitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.friendsBarInfo {
    margin-bottom: 30px;
}

.friendsBarInfoItem {
    margin-bottom: 10px;
}

.friendsBarInfoKey {
    font-weight: 500;
    margin-right: 15px;
    color: dimgrey;
}

.friendsBarInfoValue {
    font-weight: 300;
}

.userInfoButton {
    border: none;
        padding: 7px;
        border-radius: 5px;
        /** COLOR NEEDS TO BE CHANGED **/
        background-color: green;
        font-weight: 500;
        margin-right: 20px;
        cursor: pointer;
        color: white;
        width: 70px;
        margin-bottom: 5px;
}