.friendsBarUserInfoTitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.friendsBarInfo {
    margin-bottom: 30px;
}

.friendsBarInfoItem {
    margin-bottom: 10px;
}

.friendsBarInfoKey {
    font-weight: 500;
    margin-right: 15px;
    color: dimgrey;
}

.friendsBarInfoValue {
    font-weight: 300;
}