.chatRoomBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.messageInput {
    height: 90px;
    width: 80%;
    padding: 10px;
}

.messageSubmitButton {
    height: 40px;
    width: 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
}